In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("../../data/gaia/21_10_2020_manual_vetting.csv")

In [12]:
df = df[df.note == "complex shape"]
df.head().T

,6,9,116,161
Unnamed: 0,1246,438,309,1202
istart,7425,2960,12909,11046
istop,7517,2997,12969,11191
cstart,415823,445999,343218,163810
cstop,415915,446036,343278,163955
tstart,1804.99,1846.9,1704.15,1454.97
tstop,1805.12,1846.95,1704.23,1455.17
ed_rec,1580.95,1041.66,1276.23,2436.27
ed_rec_err,5.60353,5.84389,4.92675,11.7163
ampl_rec,0.337234,0.782328,1.0308,0.347491
dur,0.127779,0.0513892,0.0833326,0.201387
total_n_valid_data_points,13122,16039,15642,17573
snr,2.06133,2.05449,3.43405,3.61047
period,0.213789,0.187026,0.287317,0.284776
period_h,5.13093,4.48863,6.89561,6.83463
TIC,441811894,441606549,298160985,260972843
Sector,18,20,14,5
note,complex shape,complex shape,complex shape,complex shape
dur_over_period,0.597686,0.27477,0.290037,0.707175
Unnamed: 19,NaN,NaN,NaN,NaN

In [26]:
df3 = df[["TIC", "Sector", "period_h", "tstart"]]
df3.period_h = df3.period_h.round(2)
df3 = df3.rename(index=str, columns={"period_h":r"$P$ [h]",
                                     "tstart":r"$t_{\text{start}}$ [BTJD - 2457000 d]",})

In [27]:
stri = df3.to_latex(index=False,escape=False, column_format=f"l|ccc")
stri = stri.replace("\\toprule","\hline\hline")
stri = stri.replace("\\midrule","\hline")
stri = stri.replace("\\bottomrule","\hline\n" )

In [28]:
print(stri)

\begin{tabular}{l|ccc}
\hline\hline
       TIC &  Sector &  $P$ [h] &  $t_{\text{start}}$ [BTJD - 2457000 d] \\
\hline
 441811894 &      18 &     5.13 &                            1804.987685 \\
 441606549 &      20 &     4.49 &                            1846.901948 \\
 298160985 &      14 &     6.90 &                            1704.145163 \\
 260972843 &       5 &     6.83 &                            1454.968234 \\
\hline

\end{tabular}

In [29]:
PWD = "/home/ekaterina/Documents/002_writing/multiperiod-flares-draft-mnras/tables"

# Write out latex string
with open(f"{PWD}/complex_flares.tex", "w") as f:
    f.write(stri)