In [1]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv("../../data/guenther/guenther_flare_fit.tsv", skiprows=32, delimiter="\t")

In [18]:
df.Flare.count()

8695

In [21]:
ns, bins = np.histogram(df.Flare.values, bins = np.arange(6))

In [30]:
ns = df.Flare.value_counts()

In [32]:
ns

1    6799
2    1598
3     278
4      19
5       1
Name: Flare, dtype: int64

In [47]:
# ns[1] - ns[2:].sum()
(ns[1] -  ns[2]) / ns[1] , (ns[1] - ns[3]) / ns[1]

(0.7649654360935432, 0.9591116340638329)

In [45]:
df[["Outbst", "TIC", "Sec"]].drop_duplicates().value_counts()

Outbst  TIC        Sec
58      140045538  1      1
3       100100909  2      1
        102032397  2      1
        102071750  2      1
        114819903  2      1
                         ..
7       273512747  1      1
        274017928  1      1
        277298771  1      1
                   2      1
1       2760232    2      1
Length: 6799, dtype: int64